name: Continuous Deployment

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  publish-github:
    name: Publish on GitHub
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        TARGET: [x86_64-linux, x86_64-macos, x86_64-windows]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set the release version
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.1

      - name: Build
        run: zig build -Dtarget=${{ matrix.TARGET }} -Doptimize=ReleaseSafe --summary all

      - name: Package binary (Linux/macOS)
        if: matrix.TARGET != 'x86_64-windows'
        run: |
          cd zig-out/bin
          tar -czf mimg-${{ matrix.TARGET }}.tar.gz mimg
          mv mimg-${{ matrix.TARGET }}.tar.gz ../..

      - name: Package binary (Windows)
        if: matrix.TARGET == 'x86_64-windows'
        run: |
          cd zig-out/bin
          7z a ../../mimg-${{ matrix.TARGET }}.zip mimg.exe

      - name: Upload the binary
        uses: svenstaro/upload-release-action@v2
        with:
          file: mimg-${{ matrix.TARGET }}.*
          file_glob: true
          overwrite: true
          tag: ${{ github.ref }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
